
@font-face {
    font-family: RobotoMono;
    src: url(assets/RobotoMono.ttf);
}
@font-face {
    font-family: RobotoMono;
    src: url(assets/RobotoMono.ttf);
}

@font-face {
    font-family: RobotoMono-Bold;
    src: url(assets/RobotoMono-Bold.ttf);
}

.indented {
}

h1 {
    /* font-family: RobotoMono; */
    font-family: monospace;
    margin-bottom: .1em;
    color: green;

}
h2 {
    /* font-family: RobotoMono-Bold; */
    font-family: monospace;
    /* font-size: 1.2em; */
    color: rgb(0, 37, 0);
    
}
h3 {
    /* font-family: RobotoMono; */
    font-family: monospace;
    /* font-size: 1.1em; */
    color: darkgoldenrod;
    
}
.work {
    /* font-size: .95em; */

}
.work b  {
    color: rgb(73, 153, 73);
}
.work a  {
    color: green;
}
.work li {
    padding-bottom: 0.2em;
}


b {
    /* font-family: RobotoMono-Bold; */
    font-family: monospace;
    color: darkgreen;
}
body {
    font-size: 1.2em;
    /* font-family: RobotoMono; */
    font-family: monospace;
}
 p {
    /* font-size: .9em; */
 }

hr {
    border-color: forestgreen;
}
li {
    padding-bottom: 1em;
}

#logo {
    height: 30%;
    border-radius: 20%;
}
.main_container {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
}
